WinFormsClient/Connected Services/WinCurrencyService/CurrencyUpdate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CurrencyUpdate" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICurrencyUpdate_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CurrencyUpdater" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICurrencyUpdate_GetCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrency" />
  </wsdl:message>
  <wsdl:message name="ICurrencyUpdate_GetCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyUpdate_GetCurrency_InvalidCurrencyFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CurrencyUpdater" name="detail" element="q1:InvalidCurrencyFault" />
  </wsdl:message>
  <wsdl:message name="ICurrencyUpdate_GetCurrency_InvalidServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CurrencyUpdater" name="detail" element="q2:InvalidServerFault" />
  </wsdl:message>
  <wsdl:message name="ICurrencyUpdate_GetCurrencyForDay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyForDay" />
  </wsdl:message>
  <wsdl:message name="ICurrencyUpdate_GetCurrencyForDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyForDayResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyUpdate_GetCurrencyForDay_InvalidDateFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/CurrencyUpdater" name="detail" element="q3:InvalidDateFault" />
  </wsdl:message>
  <wsdl:message name="ICurrencyUpdate_GetCurrencyForDay_InvalidServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/CurrencyUpdater" name="detail" element="q4:InvalidServerFault" />
  </wsdl:message>
  <wsdl:message name="ICurrencyUpdate_GetCurrencyForDayCharCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyForDayCharCode" />
  </wsdl:message>
  <wsdl:message name="ICurrencyUpdate_GetCurrencyForDayCharCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyForDayCharCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyUpdate_GetCurrencyForDayCharCode_InvalidCurrencyFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/CurrencyUpdater" name="detail" element="q5:InvalidCurrencyFault" />
  </wsdl:message>
  <wsdl:message name="ICurrencyUpdate_GetCurrencyForDayCharCode_InvalidDateFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/CurrencyUpdater" name="detail" element="q6:InvalidDateFault" />
  </wsdl:message>
  <wsdl:message name="ICurrencyUpdate_GetCurrencyForDayCharCode_InvalidServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/CurrencyUpdater" name="detail" element="q7:InvalidServerFault" />
  </wsdl:message>
  <wsdl:portType name="ICurrencyUpdate">
    <wsdl:operation name="GetCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyUpdate/GetCurrency" message="tns:ICurrencyUpdate_GetCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyUpdate/GetCurrencyResponse" message="tns:ICurrencyUpdate_GetCurrency_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICurrencyUpdate/GetCurrencyInvalidCurrencyFaultFault" name="InvalidCurrencyFaultFault" message="tns:ICurrencyUpdate_GetCurrency_InvalidCurrencyFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICurrencyUpdate/GetCurrencyInvalidServerFaultFault" name="InvalidServerFaultFault" message="tns:ICurrencyUpdate_GetCurrency_InvalidServerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyForDay">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyUpdate/GetCurrencyForDay" message="tns:ICurrencyUpdate_GetCurrencyForDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyUpdate/GetCurrencyForDayResponse" message="tns:ICurrencyUpdate_GetCurrencyForDay_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICurrencyUpdate/GetCurrencyForDayInvalidDateFaultFault" name="InvalidDateFaultFault" message="tns:ICurrencyUpdate_GetCurrencyForDay_InvalidDateFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICurrencyUpdate/GetCurrencyForDayInvalidServerFaultFault" name="InvalidServerFaultFault" message="tns:ICurrencyUpdate_GetCurrencyForDay_InvalidServerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyForDayCharCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyUpdate/GetCurrencyForDayCharCode" message="tns:ICurrencyUpdate_GetCurrencyForDayCharCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyUpdate/GetCurrencyForDayCharCodeResponse" message="tns:ICurrencyUpdate_GetCurrencyForDayCharCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICurrencyUpdate/GetCurrencyForDayCharCodeInvalidCurrencyFaultFault" name="InvalidCurrencyFaultFault" message="tns:ICurrencyUpdate_GetCurrencyForDayCharCode_InvalidCurrencyFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICurrencyUpdate/GetCurrencyForDayCharCodeInvalidDateFaultFault" name="InvalidDateFaultFault" message="tns:ICurrencyUpdate_GetCurrencyForDayCharCode_InvalidDateFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICurrencyUpdate/GetCurrencyForDayCharCodeInvalidServerFaultFault" name="InvalidServerFaultFault" message="tns:ICurrencyUpdate_GetCurrencyForDayCharCode_InvalidServerFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICurrencyUpdate" type="tns:ICurrencyUpdate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrency">
      <soap:operation soapAction="http://tempuri.org/ICurrencyUpdate/GetCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidCurrencyFaultFault">
        <soap:fault use="literal" name="InvalidCurrencyFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidServerFaultFault">
        <soap:fault use="literal" name="InvalidServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyForDay">
      <soap:operation soapAction="http://tempuri.org/ICurrencyUpdate/GetCurrencyForDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidDateFaultFault">
        <soap:fault use="literal" name="InvalidDateFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidServerFaultFault">
        <soap:fault use="literal" name="InvalidServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyForDayCharCode">
      <soap:operation soapAction="http://tempuri.org/ICurrencyUpdate/GetCurrencyForDayCharCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidCurrencyFaultFault">
        <soap:fault use="literal" name="InvalidCurrencyFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidDateFaultFault">
        <soap:fault use="literal" name="InvalidDateFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidServerFaultFault">
        <soap:fault use="literal" name="InvalidServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ICurrencyUpdate" type="tns:ICurrencyUpdate">
    <wsp:PolicyReference URI="#NetTcpBinding_ICurrencyUpdate_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetCurrency">
      <soap12:operation soapAction="http://tempuri.org/ICurrencyUpdate/GetCurrency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidCurrencyFaultFault">
        <soap12:fault use="literal" name="InvalidCurrencyFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidServerFaultFault">
        <soap12:fault use="literal" name="InvalidServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyForDay">
      <soap12:operation soapAction="http://tempuri.org/ICurrencyUpdate/GetCurrencyForDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidDateFaultFault">
        <soap12:fault use="literal" name="InvalidDateFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidServerFaultFault">
        <soap12:fault use="literal" name="InvalidServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyForDayCharCode">
      <soap12:operation soapAction="http://tempuri.org/ICurrencyUpdate/GetCurrencyForDayCharCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidCurrencyFaultFault">
        <soap12:fault use="literal" name="InvalidCurrencyFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidDateFaultFault">
        <soap12:fault use="literal" name="InvalidDateFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidServerFaultFault">
        <soap12:fault use="literal" name="InvalidServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyUpdate">
    <wsdl:port name="BasicHttpBinding_ICurrencyUpdate" binding="tns:BasicHttpBinding_ICurrencyUpdate">
      <soap:address location="http://localhost:8080/CurrencyUpdate" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICurrencyUpdate" binding="tns:NetTcpBinding_ICurrencyUpdate">
      <soap12:address location="net.tcp://localhost:38555/CurrencyUpdate" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:38555/CurrencyUpdate</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-QCHKCRS\user</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>