WinFormsClient/Connected Services/WinCurrencyService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CurrencyUpdater" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CurrencyUpdater" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InvalidCurrencyFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidCurrencyFault" nillable="true" type="tns:InvalidCurrencyFault" />
  <xs:complexType name="InvalidServerFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidServerFault" nillable="true" type="tns:InvalidServerFault" />
  <xs:complexType name="ValCurs">
    <xs:sequence>
      <xs:element name="dateField" nillable="true" type="xs:string" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="valuteField" nillable="true" type="tns:ArrayOfValCursValute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValCurs" nillable="true" type="tns:ValCurs" />
  <xs:complexType name="ArrayOfValCursValute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValCursValute" nillable="true" type="tns:ValCursValute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValCursValute" nillable="true" type="tns:ArrayOfValCursValute" />
  <xs:complexType name="ValCursValute">
    <xs:sequence>
      <xs:element name="charCodeField" nillable="true" type="xs:string" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="nominalField" type="xs:unsignedInt" />
      <xs:element name="numCodeField" type="xs:unsignedInt" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValCursValute" nillable="true" type="tns:ValCursValute" />
  <xs:complexType name="InvalidDateFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidDateFault" nillable="true" type="tns:InvalidDateFault" />
</xs:schema>